body {
  margin: 0;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
th, td {
  padding: 0.25rem;

}

tr.csharp th {
  background: rgb(200,200,255);
}
tr.java th {
  background: rgb(200,255,200);
}
tr.nlr th {
  background: purple;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

td:last-child, th:last-child {
  text-align: right;
}

td:nth-child(3), th:nth-child(3) {
  text-align: center;
}


td {
  min-width: 15%;
}

tr.csharp td {
  background: rgba(0,0,255,0.1);
}
tr.java td {
  background: rgba(0,255,0,0.1);
}
tr.nlr td {
  background: rgba(128,0,128,0.1);
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 840px),
(min-device-width: 840px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* tr.header { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  } */

    /* Hide table headers (but not display: none;, for accessibility) */
	tr > th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  
  tr { border-bottom: 3px solid rgb(0,0,0,0.5); }

  
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 40%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name:"; }
	td:nth-of-type(2):before { content: "Last Name:"; }
	td:nth-of-type(3):before { content: "Interviewer:"; }
	td:nth-of-type(4):before { content: "Day:"; }
  td:nth-of-type(5):before { content: "Time:"; }
  td:nth-of-type(6):before { content: "Language:"; }

  td:last-child {
    text-align: left;
  }

  td:nth-child(3) {
    text-align: left;
  }
  
  
}